# CHAPTER 5 データ構造
## 5.1 リスト内包表記

In [2]:
square = []
square.append(1)
square.append(4)
square.append(9)
square.append(16)
square.append(25)

In [3]:
square

[1, 4, 9, 16, 25]

In [4]:
square2 = [36, 49]
square.extend(square2)

In [5]:
square

[1, 4, 9, 16, 25, 36, 49]

In [6]:
square.insert(2, 7)

In [8]:
square

[1, 4, 7, 9, 16, 25, 36, 49]

In [9]:
square.remove(7)

In [10]:
square

[1, 4, 9, 16, 25, 36, 49]

In [11]:
square.pop(1)

4

In [12]:
square

[1, 9, 16, 25, 36, 49]

In [13]:
square.clear()

In [14]:
square

[]

In [33]:
square = [1, 4, 9, 16, 25]
square.index(16)

3

In [15]:
square = [1, 4, 9, 16, 25]
square.count(16)

1

In [16]:
square = [16, 9, 25, 1, 4]

In [17]:
square

[16, 9, 25, 1, 4]

In [18]:
square.sort()
square

[1, 4, 9, 16, 25]

In [19]:
x = [[5, 8, 10],
    [7, 3, 2],
    [21, 2, 9],
    [99,58, 33]]
x.sort(key=lambda x: x[2], reverse=True)

In [20]:
x

[[99, 58, 33], [5, 8, 10], [21, 2, 9], [7, 3, 2]]

In [21]:
square = [1, 4, 9, 16, 25]
square.reverse()
square

[25, 16, 9, 4, 1]

In [22]:
square = [[1, 4, 9], [16, 25]]
square2 = square.copy()
square2

[[1, 4, 9], [16, 25]]

In [28]:
square.append([36, 49])

In [29]:
square

[[1, 4, 9], [16, 25], [36, 49]]

In [30]:
square2

[[1, 4, 9], [16, 25]]

### 問題.1
プログラムを実行して「Suzuki」という結果を取得して、元のリストから要素を消すために、下記のプログラムの空欄に記述すべきコードはどれでしょうか?

In [39]:
members = ['Yamada', 'Tanaka', 'Satou', 'Suzuki']
name = members.pop(members.index('Suzuki'))
print(name)

Suzuki

### 問題.2
リストのメソッドを使ってスタックを作成して下さい。スタックは、最後に追加された要素が最初に取得されるものとします(後入れ先出し)。
まず、空のスタックを用意して
要素1を追加し、
次に要素2を追加します。
その次にスタックの先頭(トップ)から、要素の取得を2階繰り返して下さい。

In [40]:
stack = []
stack.append('item1')
stack.insert(0, 'item2')
stack

['item2', 'item1']

In [41]:
stack.pop(0)

'item2'

In [42]:
stack.pop(0)

'item1'

In [43]:
stack

[]

In [44]:
stack = []
stack.append(1)
stack.append(2)
stack

[1, 2]

In [46]:
stack.pop()

2

In [47]:
stack.pop()

1

In [48]:
stack

[]

### 問題.3
リストのメソッドをスカって、キューを作成してみましょう。キューでは、最初に追加された要素が最初に取得されるものとします(先入れ先出し)。
まず、空のキューを用意し、
要素1を追加し、
次に要素2を追加します。
次にキューの先頭から、要素の取得を2回繰り返してみましょう。

In [49]:
queue = []
queue.append(1)
queue.append(2)
queue

[1, 2]

In [50]:
queue.pop(0)

1

In [51]:
queue.pop(0)

2

In [52]:
queue

[]

In [55]:
from collections import deque
queue = deque([1, 2])
queue.append(3)
queue.append(4)

In [56]:
queue

deque([1, 2, 3, 4])

In [57]:
queue.popleft()

1

In [58]:
queue.popleft()

2

In [59]:
queue

deque([3, 4])

### COLUMN 浅いコピーと深いコピー

In [60]:
a = [1, 2]
b = [3, 4]
x = [a, b]
x

[[1, 2], [3, 4]]

In [61]:
a[0] = 99

In [62]:
x

[[99, 2], [3, 4]]

In [63]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.copy(square)
square[0][0] = 4
square2

[[4, 4, 9], [16, 25]]

In [64]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.copy(square)
square[0] = [36]
square

[[36], [16, 25]]

In [65]:
square2

[[1, 4, 9], [16, 25]]

In [66]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = square
square[0] = [36]
square

[[36], [16, 25]]

In [67]:
square2

[[36], [16, 25]]

In [68]:
import copy
square = [[1, 4, 9], [16, 25]]
square2 = copy.deepcopy(square)
square[0][0] = 99
square[1] = 999
square2

[[1, 4, 9], [16, 25]]

In [69]:
square

[[99, 4, 9], 999]

### 5.2 リスト内包表記

In [70]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 for x in prime]
prime_square

[4, 9, 25, 49, 121, 169]

In [71]:
multiplication = [i * j for i in range(1, 3) for j in range(1, 10)]
multiplication

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [72]:
mat = [
    [1, 2, 3, 4],
    [5, 6, 7, 8]
]
I = 2
J = 4
mat2 = [[i * J + j + 1 for j in range(J)] for i in range(I)]
mat2

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [73]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 for x in prime if x**2 > 100]
prime_square

[121, 169]

In [75]:
name_list = [('yamada', 20), ('satou', 35), ('tanaka', 50), ('suzuki', 40)]
[i for i in range(len(name_list)) if name_list[i][1] > 30]

[1, 2, 3]

In [78]:
name_list[x in [i for i in range(len(name_list)) if name_list[i][1] > 30]]

('yamada', 20)

### 問題.1
以下のプログラムを実行した際の出力結果として正しいものは、どれでしょうか?

In [79]:
num = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
]
col =[row[2] for row in num]
print(col)

[3, 8]

### 問題.2
以下のプログラムを実行した際の出力結果として正しいものは、どれでしょうか?

In [81]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
[x if x%2==0 else None for x in list1]

[None, 2, None, 4, None, 6, None, 8, None]

### 問題.3
以下のプログラムを実行した際の出力結果として正しいものは、どれでしょうか?

In [82]:
[x * y for x in range(3) for y in range(x + 1)]

[0, 0, 1, 0, 2, 4]

In [83]:
print('x', 'y', 'x*y', sep='\t')
for x in range(3):
    for y in range(x + 1):
        print(x, y, x*y, sep='\t')

x	y	x*y
0	0	0
1	0	0
1	1	1
2	0	0
2	1	2
2	2	4

### COLUMN 内包表記の結果を if-else で処理

In [86]:
prime = [2, 3, 5, 7, 11, 13]
prime_square = [x**2 if x**2 > 100 else None for x in prime]
print(prime_square)

[None, None, None, None, 121, 169]

In [87]:
['x is 2' if x == 2 else 'x is 1' if x == 1 else 'other' for x in range(3)]

['other', 'x is 1', 'x is 2']

### COLUMN 内包表記は速いのか?

In [91]:
%%timeit
def for_list(X):
    x = []
    for i in range(X):
        x.append(i*i)
    return x

for_list(10000)

1.22 ms ± 14.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [92]:
%%timeit
def comprehenshon_list(X):
    return [i*i for i in range(X)]

comprehenshon_list(10000)

774 µs ± 53 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## 5.3 delを使った削除

In [93]:
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [94]:
del fib[0]

In [95]:
fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [96]:
del fib[2:5]
fib

[1, 1, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [97]:
del fib
fib

NameError: name 'fib' is not defined

### 問題.1
以下のプログラムを実行した際の出力結果として手らしいものは、次のどれでしょうか?

In [98]:
members = ['Yamada', 'Satou', 'Suzuki', 'Tanaka', 'Itou']
del members[2]
members

['Yamada', 'Satou', 'Tanaka', 'Itou']

### 問題.2
整数1から5までを要素にもつリストxを作成し、del文で末尾の2つの要素を削除するプログラムを作成して下さい。

In [104]:
x = list(range(1, 6))
x

[1, 2, 3, 4, 5]

In [105]:
del x[-2:]

In [106]:
x

[1, 2, 3]

### COLUMN 不要なメモリの解放

In [108]:
import gc
b = [x for x in range(100000)]

In [110]:
del b

In [111]:
b

NameError: name 'b' is not defined

In [112]:
gc.collect()

134

In [113]:
import sys
sys.getsizeof([x for x in range(10)])

192

In [114]:
sys.getsizeof(['ABC' for x in range(10)])

192

### COLUMN del文でリストの要素を削除する処理は遅い?

In [118]:
int_list = [x for x in range(10000)]

In [120]:
%%timeit
my_int_list = int_list.copy()
for x in range(5000):
    del my_int_list[0]

6.22 ms ± 102 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [122]:
%%timeit
my_int_list = int_list.copy()
for x in range(5000):
    del my_int_list[-1]

586 µs ± 32.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## 5.4 タプル

In [2]:
(1, 4, 9, 16, 25)

(1, 4, 9, 16, 25)

In [3]:
(36,)

(36,)

In [4]:
tuple_square = (1, 4, 9, 16, 25)
tuple_square

(1, 4, 9, 16, 25)

In [6]:
tuple_square2 = 1, 4, 9, 16, 25
tuple_square2

(1, 4, 9, 16, 25)

In [7]:
a, b, c, d, e = tuple_square
a, b, c, d, e

(1, 4, 9, 16, 25)

In [10]:
b

4

In [11]:
tuple_square[1]

4

In [12]:
tuple_square[2:5]

(9, 16, 25)

In [14]:
tuple_square = (1, 4, 9, 16, 25)
print(tuple_square)
tuple_square = (1, 4, 9, 16, 25, 36, 49)
print(tuple_square)

(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25, 36, 49)

In [15]:
del tuple_square
tuple_square

NameError: name 'tuple_square' is not defined

### 問題.1
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [16]:
a, b, c, d, e = ('Sapporo', 'Sendai', 'Tokyo', 'Nagoya', 'Osaka')
g = d + e
g

'NagoyaOsaka'

### 問題.2
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [18]:
a, b, c, d, e = (1, 2, 3, 4, 5)
d + e

9

### 問題.3
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [19]:
(1, 2, 3, 4, 5) + (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
tp1 = (1, 2, 3, 4, 5)
tp2 = (1, 2, 3, 4, 5)
[x + y for (x, y) in zip(tp1, tp2)]

[2, 4, 6, 8, 10]

In [22]:
def tpadd(x, y):
    return x + y
list(map(tpadd, tp1, tp2))

[2, 4, 6, 8, 10]

### 問題.4
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [23]:
(1, 2, 3, 4, 5) * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## 集合（set）

In [26]:
bigcity_of_japan = {'Sapporo', 'Sendai', 'Tokyo', 'Nagoya', 'Osaka', 'Fukuoka'}
bigcity_of_japan

{'Fukuoka', 'Nagoya', 'Osaka', 'Sapporo', 'Sendai', 'Tokyo'}

In [27]:
bigcity_of_japan = {'Sapporo', 'Sendai', 'Tokyo', 'Nagoya', 'Osaka', 'Fukuoka', 'Osaka'}
bigcity_of_japan

{'Fukuoka', 'Nagoya', 'Osaka', 'Sapporo', 'Sendai', 'Tokyo'}

In [33]:
set_a = set('ABCDEF')
set_a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [34]:
set_a.add('G')

In [35]:
set_a

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [36]:
set_a.add('A')
set_a

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [37]:
set_a.remove('G')
set_a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [38]:
set_a.remove('K')

KeyError: 'K'

In [39]:
x = 'K'
set_a.remove(x) if x in set_a else print(x, 'is not found')

K is not found

In [40]:
x = 'K'
set_a.discard(x)

In [41]:
set_a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [42]:
set_a.pop()

'C'

In [43]:
set_a.pop()

'A'

In [44]:
set_a

{'B', 'D', 'E', 'F'}

In [45]:
set_a.clear()
set_a

set()

In [46]:
prime = {2, 3, 5, 7, 11, 13}
prime_square = {x**2 for x in prime}
prime_square

{4, 9, 25, 49, 121, 169}

In [47]:
{{j%i for j in range(1, 10)} for i in range(1, 10)}

TypeError: unhashable type: 'set'

In [51]:
{frozenset({j%i for j in range(1, 10)}) for i in range(1, 10)}

{frozenset({0}),
 frozenset({0, 1}),
 frozenset({0, 1, 2}),
 frozenset({0, 1, 2, 3}),
 frozenset({0, 1, 2, 3, 4}),
 frozenset({0, 1, 2, 3, 4, 5}),
 frozenset({0, 1, 2, 3, 4, 5, 6}),
 frozenset({0, 1, 2, 3, 4, 5, 6, 7}),
 frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8})}

### 問題.1
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [52]:
a = {x for x in 'abcabcabc' if x not in 'ab'}
a

{'c'}

### 問題.2
0以上20以下の奇数を要素としてもつ集合Aを、内包表記を使って作成してみましょう

In [56]:
{x for x in range(0,21) if x%2 == 1 }

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

### COLIMN frozenset型

In [58]:
{frozenset([1, 3, 5, 7, 9]):'odd'}

{frozenset({1, 3, 5, 7, 9}): 'odd'}

## 5.6 集合を使った演算
### 集合の生成

In [59]:
A = set('ABCDEF')
B = set('DEFGHI')

### 集合の差

In [61]:
A - B

{'A', 'B', 'C'}

### 集合の和

In [62]:
A | B

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'}

### 集合の積

In [65]:
A & B

{'D', 'E', 'F'}

### 集合の対照差

In [66]:
A ^ B

{'A', 'B', 'C', 'G', 'H', 'I'}

### 集合の比較
#### 集合の完全一致

In [67]:
A = set('ABCDEF')
B = set('ABCDEF')
C = set('ABC')
print(A == B)
print(A == C)

True
False

#### 集合の完全不一致

In [69]:
D = set('GHI')
print(A.isdisjoint(D))

True

#### 部分集合

In [70]:
C <= A

True

In [71]:
C.issubset(A)

True

In [72]:
C < A

True

#### 上位集合

In [73]:
A >= C

True

In [77]:
A.issuperset(C)

True

### 問題.1
以下のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [78]:
a = {x for x in 'abcabcabc' if x not in 'ab'}
b = {y for y in 'abcabcabc' if y not in 'bc'}
a | b

{'a', 'c'}

### 問題.2
0から20までの整数を要素としてもつ集合Aと、0以上20以下の偶数を要素としてもつ集合Bを作成し、集合Aと集合Bの演算によって0以上20以下の偶数ではない(奇数である)数を要素とする集合Cを生成してみましょう。

In [83]:
A = set(x for x in range(21))
print(A)
B = set(y for y in range(21) if y % 2 == 0)
print(B)
A ^ B

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [84]:
B

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### COLUMN ド・モルガンの法則

## 5.7 辞書(dict)

In [85]:
prefecture_of_japan = {1: 'Hokkaido', 2: 'Aomri', 3: 'Iwate'}
prefecture_of_japan

{1: 'Hokkaido', 2: 'Aomri', 3: 'Iwate'}

In [86]:
prefecture_of_japan[1]

'Hokkaido'

In [88]:
print(prefecture_of_japan.get(0))

None

In [89]:
prefecture_of_japan.get(1)

'Hokkaido'

In [90]:
prefecture_of_japan.get(0, 'Not Found')

'Not Found'

In [92]:
prefecture_of_japan[4] = 'Miyagi'
prefecture_of_japan

{1: 'Hokkaido', 2: 'Aomri', 3: 'Iwate', 4: 'Miyagi'}

In [93]:
1 in prefecture_of_japan

True

In [94]:
del prefecture_of_japan[4]
prefecture_of_japan

{1: 'Hokkaido', 2: 'Aomri', 3: 'Iwate'}

In [95]:
prefecture_of_japan.pop(3)

'Iwate'

In [96]:
prefecture_of_japan

{1: 'Hokkaido', 2: 'Aomri'}

In [97]:
prefecture_of_japan.clear()
prefecture_of_japan

{}

In [98]:
prefecture_of_japan = {1: 'Hokkaido', 2: 'Aomri', 3: 'Iwate'}
for x in prefecture_of_japan:
    print(x)

1
2
3

In [99]:
for x in prefecture_of_japan.keys():
    print(x)

1
2
3

In [101]:
for x in prefecture_of_japan.values():
    print(x)

Hokkaido
Aomri
Iwate

In [102]:
for x in prefecture_of_japan.items():
    print(x)

(1, 'Hokkaido')
(2, 'Aomri')
(3, 'Iwate')

In [103]:
list1 = [1, 2, 3]
list2 = ['Hokkaido', 'Aomori', 'Iwate']
dict(zip(list1, list2))

{1: 'Hokkaido', 2: 'Aomori', 3: 'Iwate'}

### 問題.1
Python 3.5 で実行した場合、次のプログラムを実行したときの出力結果として、正しいものはどれでしょうか？

In [106]:
yamanote_line = {0: 'Tokyo', 1:'Yuurakuchou', 2: 'Shinbashi'}
for v in yamanote_line.values():
    print(v)

Tokyo
Yuurakuchou
Shinbashi

### 問題.2
下記の会員番号、会員の性別、氏名、年齢、とどうふけんの表をもとに、データを格納する辞書を生成するプログラムを作成して下さい。
まず、表を入れ子のリストデータとして生成し、会員番号を辞書のキー、それ以外のレコードをリスト変数として辞書の値とし、辞書変数に格納するものとします。

In [107]:
list1 = ['0001', '0002', '0003', '0004']
list2 = [
    ['Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
    ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
    ['Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
    ['Male', 'Suzuki', 'Ichirou', 35, 'Hokkaido']
]
dict(zip(list1, list2))

{'0001': ['Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 '0002': ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 '0003': ['Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
 '0004': ['Male', 'Suzuki', 'Ichirou', 35, 'Hokkaido']}

In [111]:
data = [
    ['0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
    ['0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
    ['0003', 'Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
    ['0004', 'Male', 'Suzuki', 'Ichirou', 35, 'Hokkaido']
]
member_dict = {}
for member in data:
    key = member[0]
    value = member[1:]
    member_dict[key] = value

member_dict

{'0001': ['Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 '0002': ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 '0003': ['Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
 '0004': ['Male', 'Suzuki', 'Ichirou', 35, 'Hokkaido']}

In [117]:
print('number', 'Information', sep='\t')
for k, v in member_dict.items():
    print(k, v)

number	Information
0001 ['Male', 'Yamada', 'Tarou', 25, 'Tokyo']
0002 ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa']
0003 ['Female', 'Tanaka', 'Yuko', 25, 'Saitama']
0004 ['Male', 'Suzuki', 'Ichirou', 35, 'Hokkaido']

## 5.8 辞書を使ったプログラミング

### 内包表記による辞書の生成

In [4]:
square_list = {x: x*x for x in range(11)}
square_list

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### タプルをキーとする辞書の生成➀

In [6]:
multiplicated_xy_dict = {(x, y): x*y for x in range(2) for y in range(2)}
multiplicated_xy_dict

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

### タプルをキーとする辞書の生成②

In [8]:
prefectures = ['Hokkaido', 'Hokkaido', 'Tokyo', 'Kanagawa']
cities = ['Sapporo', 'Hakodate', 'Minato', 'Yokohama']
populations = [100, 200, 300, 400]
population_dict ={(state, city): population for state, city, population in zip(prefectures, cities, populations)}
population_dict

{('Hokkaido', 'Sapporo'): 100,
 ('Hokkaido', 'Hakodate'): 200,
 ('Tokyo', 'Minato'): 300,
 ('Kanagawa', 'Yokohama'): 400}

### 集合をキーとする辞書の生成

In [9]:
multiplicated_xy_setdict = {frozenset([x, y]): x*y for x in range(2) for y in range(2)}
multiplicated_xy_setdict

{frozenset({0}): 0, frozenset({0, 1}): 0, frozenset({1}): 1}

### ネストした辞書の生成

In [11]:
{0: {0: 0, 1: 0, 2: 0}, 1:{0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [13]:
multiplicated_xy_dict = {}
I = 3
J = 3
for i in range(I):
    multiplicated_xy_dict[i] = {}
    for j in range(J):
        multiplicated_xy_dict[i][j] = i*j

multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

### 内包表記によるネストした辞書の生成

In [18]:
I = 3
J = 3
multiplicated_xy_dict = {i: {j: (i*j) for j in range(J)} for i in range(I)}
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [19]:
multiplicated_xy_dict[2][2]

4

In [21]:
print('key1', 'key2', 'val', sep='\t')
for i, v1 in multiplicated_xy_dict.items():
    for j, v2 in v1.items():
        print(i, j, v2, sep='\t')

key1	key2	val
0	0	0
0	1	0
0	2	0
1	0	0
1	1	1
1	2	2
2	0	0
2	1	2
2	2	4

### 問題.1
次のプログラムを実行した際の出力結果として、正しいものはどれでしょうか？

In [28]:
country_code = {
    'Iceland': {'code': 354, 'capital': 'Raykjavik'},
    'Ireland': {'code': 353, 'capital': 'Dublin'},
    'Azerbaidjan': {'code': 994, 'capital': 'Baku'}
}

def getstr_keyval(x):
    if isinstance(x, dict):
        return x
    
    my_str = ''
    for key, val in x.items():
        my_str += (' ' + str(key) + ' ' + getstr_keyval(val))
    return my_str

for key1, val1 in country_code.items():
    print(key1, getstr_keyval(val1))

Iceland {'code': 354, 'capital': 'Raykjavik'}
Ireland {'code': 353, 'capital': 'Dublin'}
Azerbaidjan {'code': 994, 'capital': 'Baku'}

### 問題.2
下記の国番号、会員番号、会員の性別、氏名、年齢、都道府県の表をもとに、データを格納する辞書を生成するプログラムを作成して下さい。
まず、表を入れ子のリストデータとして生成し、
国番号と会員番号を辞書のキー、それ以外のレコードをリスト変数として辞書の値とし、辞書変数に格納するものとします。

In [29]:
data = [
    ['01', '0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
    ['01', '0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
    ['01', '0003', 'Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
    ['02', '0001', 'Male', 'Smith', 'Mike', 22, 'NewJersey'],
    ['02', '0002', 'Male', 'Turner', 'Tom', 27, 'Kansas'],
    ['02', '0003', 'Male', 'Jackson', 'David', 25, 'Florida'],
]

data

[['01', '0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 ['01', '0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 ['01', '0003', 'Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
 ['02', '0001', 'Male', 'Smith', 'Mike', 22, 'NewJersey'],
 ['02', '0002', 'Male', 'Turner', 'Tom', 27, 'Kansas'],
 ['02', '0003', 'Male', 'Jackson', 'David', 25, 'Florida']]

In [33]:
member_information = {}
for member in data:
    key = (member[0], member[1])
    value = member[2:]
    member_information[key] = value

In [34]:
member_information

{('01', '0001'): ['Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 ('01', '0002'): ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 ('01', '0003'): ['Female', 'Tanaka', 'Yuko', 25, 'Saitama'],
 ('02', '0001'): ['Male', 'Smith', 'Mike', 22, 'NewJersey'],
 ('02', '0002'): ['Male', 'Turner', 'Tom', 27, 'Kansas'],
 ('02', '0003'): ['Male', 'Jackson', 'David', 25, 'Florida']}

In [37]:
print('number', 'information', sep='\t')
for k, v in member_information.items():
    print(k, v)

number	information
('01', '0001') ['Male', 'Yamada', 'Tarou', 25, 'Tokyo']
('01', '0002') ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa']
('01', '0003') ['Female', 'Tanaka', 'Yuko', 25, 'Saitama']
('02', '0001') ['Male', 'Smith', 'Mike', 22, 'NewJersey']
('02', '0002') ['Male', 'Turner', 'Tom', 27, 'Kansas']
('02', '0003') ['Male', 'Jackson', 'David', 25, 'Florida']

## 5.9 ループのテクニック

In [39]:
intdict = {'1': 'one', '2': 'two', '3': 'three'}
for key, val in intdict.items():
    print(key, val)

1 one
2 two
3 three

In [40]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for i, mt in enumerate(mountains):
    print(i, mt)

0 fuji
1 kitadake
2 okuhodakadake

In [41]:
order = [1, 2, 3]
mountains = ['fuji', 'kitadake', 'okuhodakadake']
height = [3776, 3193, 3190]
for odr, mt, ht in zip(order, mountains, height):
    print(odr, mt, ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [44]:
mountains = ['kitadake', 'okuhotakadake', 'fuji']
for mt in sorted(mountains):
    print(mt)

fuji
kitadake
okuhotakadake

In [45]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for mt in reversed(mountains):
    print(mt)

okuhodakadake
kitadake
fuji

In [47]:
mountains_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190}
mountains_in_japan_sorted = sorted(mountains_in_japan.items(), key=lambda x:x[0])
for key, val in mountains_in_japan_sorted:
    print(key, val)

fuji 3776
kitadake 3193
okuhodakadake 3190

In [51]:
mountains_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190}
mountains_in_japan_sorted = sorted(mountains_in_japan)
for key in mountains_in_japan_sorted:
    print(key)

fuji
kitadake
okuhodakadake

In [52]:
mountains_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190}
mountains_in_japan_sorted = sorted(mountains_in_japan.items(), key=lambda x:x[1])
for key, val in mountains_in_japan_sorted:
    print(key, val)

okuhodakadake 3190
kitadake 3193
fuji 3776

In [55]:
for key, val in reversed(mountains_in_japan_sorted):
    print(key, val)

fuji 3776
kitadake 3193
okuhodakadake 3190

### 問題.1
ラムダ式を工夫することで、下記の辞書変数 mountain_in_japan を、標高の逆順にソートして下さい

In [56]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190, 'dummy': 0}

In [63]:
mountain_in_japan_reversed = sorted(mountain_in_japan.items(), key=lambda x: x[1])
for key, val in reversed(mountain_in_japan_reversed):
    print(key, val)

fuji 3776
kitadake 3193
okuhodakadake 3190
dummy 0

In [65]:
mountain_in_japan_reversed = sorted(mountain_in_japan.items(), key=lambda x: x[1], reverse=True)
mountain_in_japan_reversed

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190), ('dummy', 0)]

### COLUMN ソートのやり方をもっと詳しく

In [66]:
mountain_in_japan_dict_items = mountain_in_japan.items()
sorted(mountain_in_japan_dict_items, key = lambda x: x[1])

[('dummy', 0), ('okuhodakadake', 3190), ('kitadake', 3193), ('fuji', 3776)]

In [69]:
from operator import itemgetter
sorted(mountain_in_japan_reversed, key=itemgetter(1))

[('dummy', 0), ('okuhodakadake', 3190), ('kitadake', 3193), ('fuji', 3776)]

In [72]:
from operator import attrgetter

class MountainInfo:
    def __init__(self, my_name, my_height):
        self.name = my_name
        self.height = my_height
    def __repr__(self):
        return repr((self.name, self.height))

mountain_in_japan_clslist = [
    MountainInfo('fuji', 3776),
    MountainInfo('kitadake', 3193),
    MountainInfo('okuhodakadake', 3190),
    MountainInfo('dummy', 0)
]

print(mountain_in_japan_clslist)
sorted(mountain_in_japan_clslist, key=attrgetter('height'))

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190), ('dummy', 0)]

[('dummy', 0), ('okuhodakadake', 3190), ('kitadake', 3193), ('fuji', 3776)]

### COLUMN ループ中の要素の変更は要注意

#### 例１ 危険なやり方

In [78]:
height = [3776, 3193, 3190, None, None]
for i in range(len(height)):
    if height[i] is None:
        del height[i]

IndexError: list index out of range

#### 例２ 消したい要素をすべて消せない

In [86]:
height = [3776, 3193, 3190, None, None]
used_index = []
for i, ht in enumerate(height):
    used_index.append(i)
    if ht is None:
        del height[i]
height

[3776, 3193, 3190, None]

In [87]:
used_index

[0, 1, 2, 3]

#### 例３ 安全なやり方➀

In [90]:
height = [3776, 3193, 3190, None, None]
for ht in height[:]:
    if ht is None:
        height.remove(ht)
height

[3776, 3193, 3190]

#### 例４ 安全なやり方②

In [96]:
height = [3776, 3193, 3190, None, None]
height = [ht for ht in height if ht is not None]

In [97]:
height

[3776, 3193, 3190]

## 5.10 比較

In [2]:
[1, 2, 3] == [1, 2, 3]

True

In [3]:
(1, 2, 3) == (1, 2, 3)

True

In [4]:
'abc' < 'abd'

True

In [5]:
print(ord('c'))

99

In [6]:
print(ord('d'))

100

In [7]:
set([0, 1, 2]) == set([0, 1, 2, 2])

True

In [8]:
[0, 1, 2] == (0, 1, 2)

False

In [9]:
[0, 1, 2] < (0, 1, 2)

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [10]:
[[1, 2, 3], [4, 5, 6]] < [[1, 2, 3], [4, 0, 10], [5]]

False

In [11]:
[1, 2] < [1, 2, -1]

True

In [12]:
3 < 4 == 4

True

In [13]:
3 < (4 == 4)

False

In [14]:
4 == 4 == 1

False

In [15]:
(4 == 4) == 1

True

In [16]:
x = 2
1 < x < 3

True

In [17]:
1 < 2 and 2 < 3

True

In [18]:
print(1 and 2 and 3)
print(bool(1 and 2 and 3))

3
True

In [19]:
print(1 or 2 or 3)
print(bool(1 or 2 or 3))

1
True

### 問題.1
引数 x が10以上、20未満であるか否かを判定する関数 is_number_of_positions_of_10(x) を、比較演算子の連鎖を使って作成して下さい

In [20]:
def is_number_of_positions_of_10(x):
    return 10 <= x < 20

print(is_number_of_positions_of_10(5))

False

In [21]:
print(is_number_of_positions_of_10(10))

True

In [22]:
print(is_number_of_positions_of_10(19))

True

In [23]:
print(is_number_of_positions_of_10(20))

False